.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.navbar {
  background-color: #cca353;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.SearchBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-image: url('./background_search_desktop.jpg'); */
  background-image: url('https://i.pinimg.com/originals/58/a2/d9/58a2d9f02e1b3e7baba4b0216d7bb7e9.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 25rem;
  margin-bottom: 20px;
}


.SearchBar-fields {
  display: flex;
  justify-content: center;
  margin-bottom: 2.88rem;
}

.SearchBar-fields input {
  width: 21rem;
  padding: .66rem 1rem;
  margin-right: 2.22rem;
  border: 1px solid #fff;
  border-radius: 4px;
  font-size: .77rem;
  font-weight: 500;
}

.SearchBar-fields input:last-child {
  margin-right: 0;
}

.SearchBar-submit {
  text-align: center;
}

.SearchBar-submit button {
  border-radius: 4px;
  padding: .72rem 1.7rem;
  background-color: #cca353;
  color: #ffffff;
  font-weight: 600;
  transition: background-color .5s;
  margin: 0 10px;
}

.SearchBar-submit a:hover {
  cursor: pointer;
  background-color: #a7874b;
}

.ArtistList a {
  text-decoration: none;
  color: #000;
}

.ArtistList a:hover {
  font-weight: 600;
}

.ArtistListTitle {
  margin-bottom: 30px;
}

.ArtistPage-Wrapper {
  margin-top: 50px;
}

.ArtistPageTitle {
  margin-bottom: 30px;
}

.SearchBar-fields input{
  border: 1px solid #000;
  width: 30%;
}

@media only screen and (max-width: 560px) {
  .SearchBar {
    background-image: url('https://i.pinimg.com/originals/58/a2/d9/58a2d9f02e1b3e7baba4b0216d7bb7e9.jpg');
    background-position: center;
  }

  .SearchBar-sort-options ul {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .SearchBar-fields {
    flex-direction: column;
    align-items: center;
  }

  .SearchBar-fields input {
    margin-right: 0;
    margin-bottom: .86rem;
  }
}